services:
  backend:
    build: ./backend
    container_name: backend
    environment:
      JWT_SECRET_KEY: dev-secret
      DATABASE_URL: sqlite:////app/backend/app.db
    volumes:
      - ./backend:/app/backend
    ports:
      - "5000:5000"

  nginx:
    build: ./nginx
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - backend
